@tailwind base;
@tailwind components;
@tailwind utilities;

.textGradient {
  background: linear-gradient(120deg, #ff9a9e, #fad0c4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
